body{
    background-color: #add8e6;
}
#mainTable {
    width:100vw;
    height:100vh;
}
#part1 {
    width:33vw;
}
#picture {
    height:40vh;
    width: 33vw;
    text-align: center;
}
#roundPicture{
    height:400px;
    width: 400px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}
#generalInfo {
    height:60vh;
    width: 33vw;
}
#generalInfoTitle{
    width: 33vw;
    height:5vh;
}
#generalInfoContent{
    width: 33vw;
    height:55vh;
}
#part2 {
    width:33vw;
}
#estudios {
    width:33vw;
    height:50vh;
}
#estudiosTitle {
    width:33vw;
    height:5vh;
}
#estudiosContent{
    height:45vh;
    width:33vw;
}
#xplab {
    width:33vw;
    height:50vh;
}
#xplabTitle {
    width:33vw;
    height:5vh;
}
#xplabContent{
    height:45vh;
    width:33vw;
}
#part3 {
    width:34vw;
}
#proyectos{
    width:34vw;
    height:29vh;
}
#proyectosTitle{
    width:34vw;
    height:3vh;
}
#proyectosContent{
    width:34vw;
    height:26vh;
}
#cursos{
    width:34vw;
    height:28vh;
}
#cursosTitle{
    width:34vw;
    height:3vh;
}
#cursosContent{
    width:34vw;
    height:25vh;
}
#skills{
    width:34vw;
    height:28vh;
}
#skillsTitle{
    width:34vw;
    height:3vh;
}
#skillsContent{
    width:34vw;
    height:25vh;
}
#contactMe{
    width:34vw;
    height:15vh;
}